/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end of Eric Meyer's reset*/


/*start styling*/


	html {
		width: 100%;
		margin: 0;

	}

	body {
		color: white;
		font-family: 'Yantramanav', sans-serif;
		font-weight: 300;
		display: block;
		width: 100%;
		margin: auto;
		background-image: url("images/background2.png");
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
	}

	#down_arrow {
		display: none;
	}

	main {
		background-color: rgba(0, 0, 0, .5);
		width: 100%;
		margin: auto;
	}

	header {
		height: 60px;
		width: 100%;
		position: fixed;
		display: block;
		top: 0;
		z-index: 1;
		background-color: rgba(0, 0, 0, 0.8);
	}

	#homeHeader {
		background-color: transparent;
		transition: all 0.7s ease;
	}

	.black {
		background-color: rgba(0, 0, 0, 0.8);
	}

	header img {
		display: inline-block;
		height: 80%;
		max-width: 100px;
		left: 2%;
		vertical-align: middle;
		position: relative;
	}

	nav {
		float: right;
		max-width: 800px;
	}

	nav ul{
		display: table;

	}

	nav ul li{
		display: table-cell;
		font-weight: 400;
		padding: 22px 0;
		position: relative;
		transition: all 0.7s ease;
	}

	a {
		text-decoration: none;
		color: rgb(0, 0, 0);
		font-weight: 300;
	}

	nav a {
		padding: 21px 25px;
		color: rgb(255, 255, 255);
		transition: all 0.7s ease;
	}

	.pink {
		background-color: #f16d8f;
	}


	p {
		font-weight: 300;
		box-sizing: border-box;
		font-size: 20px;
		max-width: 600px;
		line-height: 25px;
		padding-right: 20px;
	}

	/* for different scrolling speeds */

	.parallax {
	  perspective: 1px;
	  height: 100vh;
	  overflow-x: hidden;
	  overflow-y: auto;

	}
	.parallax__layer {
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: -10px;
	}
	.parallax__layer--base {
	  transform: translateZ(0);
	}

	.parallax__layer--back {
	  transform: translateZ(-1px) scale(2);
	}

	#graphicsP {
		transform: translateZ(-17px) scale(18);
	}

	#homePage_parallax {
		transform: translateZ(-2px) scale(3);
	}

	/* for different scrolling speeds */

	section {
		box-sizing: border-box;
		min-height: 800px;
		width: 90%;
		margin: auto;
		padding: 60px 0;
	}

	#homePage, .links {
		width: 100%;
		display: flex;
		justify-content: space-around;
	}

	#homePage img {
		position: relative;
		top: 150px;
		width: 234px;
		height: 234px;
	}

	.picbutton {
		position: relative;
		width: 266px;
		height: 266px;
		margin: auto;
	}

	.picbutton p {
		position: absolute;
		top: 0;
		left: 0;
		width: 266px;
		height: 266px;
		color: transparent;
		font-weight: 400;
		text-align: center;
		margin: 0;
		line-height: 266px;
		padding: 0;
	}

	.picbutton p:hover {
		background-color: rgba(0, 0, 0, 0.75);
		color: white;
		cursor: pointer;
	}


	.heading {
		font-size: 35px;
		margin: 30px 0;
		display: block;
		font-weight: 400;
	}

	.subheading {
		font-size: 35px;
		margin: 30px 0;
		display: block;
	}

	.art, .photo {
		width: 110px;
		height: 110px;
		cursor: pointer;
		background-color: transparent;
	}

	.art:hover, .photo:hover {
		background-color: rgba(255, 255, 255, .75);
	}

	.preview {
		min-width: 700px;
	}

	.preview img {
		display: block;
		margin: auto;
	}

	#about p {
		height: 100px;
	}

	#Logos p {
		height: 200px;
	}

	#packaging p {
		height: 200px;
	}

	#packagingImg {
		margin-bottom: 30px;
	}

	#logoImgs {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	#Logos img {
		width: 340px;
		height: 340px;
		margin: 30px auto;
	}

	#me {
		float: right;
	}

	#artwork, #photography {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-around;
	}

	#artSec, #photoSec {
		min-width: 450px;
		max-width: 700px;
		margin: 0 20px;
	}

	#artThumbs, #photoThumbs {
		display: flex;
		flex-wrap: wrap;
	}

	#artThumbs img, #photoThumbs img {
		margin: 5px;
	}

	#Packaging img {
		float: right;
	}

	#Posters div {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	#Posters img {
		margin: 40px;
	}

	article {
		margin: 30px auto;
		width: 4in;
	}

	#formP {
		font-size: 16px;
		padding: 30px 0;
		margin: auto;
		width: 4in;
	}

	label{
	  width:4in;
	  display:block;
	}

	input[type="text"] {
	  width:4in;
	  padding:15px 0;
		margin: 10px auto;
	  border:none; /*remove default*/
	  border-radius:3px;
	  background-color: lightgrey;
	  color: black;
	  font-size:14px;
	}

	textarea {
		width:4in;
		height: 1.5in;
	  padding:15px 0;
		margin: 10px auto;
	  border:none; /*remove default*/
	  border-radius:3px;
	  background-color: lightgrey;
	  color: black;
	  font-size:14px;
	}

	input[type=text]:focus, textarea:focus {
	  border: 2px cornflowerblue solid;
	  background-color: white;
	  color:black;
	}

	input[type="submit"], input[type="reset"] {
	  position:relative;
		width: 1in;
	  top:14px;
	  padding:12px;
	  border:none; /*remove default*/
	  border-radius:3px;
	  background-color:antiquewhite;
	  color:#333;
	  font-weight:bold;
	  font-size:18px;
	}

	aside{
	  position:absolute;
	  top:100px;
		right:32%;
	  width: 35%;
		height: 200px;
	  background-color: rgba(30, 30, 30, 1);
		border-radius: 3px;
	  color: white;
	  display:none;
		font-size: 20px;
	}
	#myMsg {
	  position:relative;
	  top:40%;
	  text-align:center;
	}
	aside #close{
	  position:absolute;
	  top:10px;
	  right:10px;
	}

	footer {
		position: relative;
		bottom: 0;
		width: 100%;
		height: 250px;
		background-color: inherit;
	}

	footer p {
		display: block;
		width: 300px;
		font-size: 20px;
		color: white;
		margin: auto;
		text-align: center;
		position: relative;
		top: 50px;
		font-weight: 300;
	}

	footer div {
		display: block;
		margin: auto;
		width: 90px;
		position: relative;
		top: 70px;
	}

	#copyright {
		display: block;
		margin: auto;
		width: 250px;
		position: relative;
		top: 90px;
		font-weight: 100;
	}

	footer a {
		display: inline-block;
		width: 30px;
		margin: 5px;
	}

/* for iPad Pro (horizontal) and large computer screens */
@media (max-width: 1400px){

	header img {
		top: 15%;
	}

	.parallax__layer--back {
		transform: translateZ(-2px) scale(3);
	}

	#down_arrow {
		display: hidden;
	}

}

/* for iPad (horizontal) or iPad Pro (vertical) */
@media (max-width: 1100px) {

	#down_arrow {
		display: hidden;
	}

}

/* for iPad (vertical) */
@media (max-width: 799px) {
	.picbutton {
		display: flex;
		position: relative;
		width: 266px;
		height: 266px;
		margin: auto;
		padding-bottom: 40px;
	}

	.picbutton p {
		background-color: rgba(0, 0, 0, 0.50);
		color: white;
	}

	.links {
		width: 100%;
		display: block;
	}
}

/* For mobile version */
@media (max-width: 415px) {

	main {
		width: 100%;

	}

	header {
		background-color: transparent;
	}

	header img {
		display: block;
		margin:auto;
		position: relative;
	}


	#dbdlogo_link {
		display: none;
	}

	/* up arrow for back to top */

	/* #up_arrow {
		display: flex;
		position: absolute;
		bottom: 0;
		margin: auto;
		z-index: 99;
	} */

	#down_arrow {
		top: 0;
		margin: auto;
		z-index: 1;
		display: block;
		max-width: 75px;
		position: relative;
	}

	nav {
		display: none;
		width: 100%;
		background-color: grey;
	}

	nav ul li{
		display: flex;
		font-weight: 400;
		padding: 22px 0;
		border-bottom: 4px;
		border-color: white;
		position: relative;
		width: 100px;
		margin: auto;
	}

	a {
		text-decoration: none;
		color: rgb(0, 0, 0);
		font-weight: 300;
		margin: auto;
	}

	nav a {
		padding: 21px 25px;
		color: rgb(255, 255, 255);
		transition: all 0.7s ease;
	}

	section {
		width: 100%;
		margin: auto;
	}

	p, .heading, .subheading {
		margin: 20px;
	}

	.picbutton {
		display: flex;
		position: relative;
		width: 266px;
		height: 266px;
		margin: auto;
		padding-bottom: 40px;
	}

	.picbutton p {
		background-color: rgba(0, 0, 0, 0.50);
		color: white;
	}

	.links {
		width: 100%;
		display: block;
	}

	#me {
		float: none;
		display: block;
		margin: auto;
	}

	#about p {
		height: 200px;
	}

	#MaizmeLogo {
		display: none;
	}

	#MaizmePkg {
		float: none;
		width: 100%;
		margin: 30px 0;
	}

	#logoImgs {
		margin-top: 50px;
	}

	#Logos img {
		transform: scale(.9);
		margin: auto;
	}

	#artwork, #photography {
		display: block;
		margin: auto;
	}

	#artSec, #photoSec {
		position: relative;
		width: 100%;
		margin: 0;
	}

	#artThumbs, #photoThumbs {
		display: flex;
		flex-wrap: wrap;
		width: 400px;
	}

	#artThumbs img, #photoThumbs img {
		margin: 5px;
	}

	.art, .photo {
		width: 110px;
		height: 110px;
		background-color: transparent;
	}

	.preview {
		min-width: 100px;
	}

	.preview img {
		width: 100%;
	}

	#Packaging img {
		float: none;
	}

	#Posters img {
		float: none;
		width: 100%;
		margin: auto;
	}

	#contact {
		width: 78%;
		margin: 0 10px;
	}

	article {
		display: inline;
		margin: 30px 0;
		width: 100%;
	}

	#formP {
		font-size: 16px;
		padding: 30px 0;
		margin: 0;
		width: 300px;
	}

	label{
	  width:100%;
	  display:block;
	}

	input[type="text"] {
	  width: 100%;
	}

	textarea {
		width:100%;
	}


}
