/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end of Eric Meyer's reset*/


/*start styling*/

html {
	width: 100%;
	margin: 0;
}

body {
	color: white;
	font-family: 'Yantramanav', sans-serif;
	display: block;
	width: 100%;
	margin: auto;
	background-image: url("images/background.png");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	background-attachment: fixed;
}

main {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	margin: auto;
}

header {
	box-sizing: border-box;
	height: 60px;
	width: 100%;
	background-color: rgba(0, 0, 0, .75);
	z-index: 9999;
	color: rgb(255, 255, 255);
	position: fixed;
	display: block;
	top: 0;

}

header img {
	display: inline-block;
	height: 80%;
	max-width: 145px;
	top: 10%;
	left: 2%;
	vertical-align: middle;
	position: relative;
}

nav {
	float: right;
	max-width: 800px;
}

nav ul{
	display: table;

}

nav ul li{
	display: table-cell;
	font-weight: 700;
	padding: 25px;
}

a {
	text-decoration: none;
	color: rgb(0, 0, 0);
}

nav a {
	color: rgb(255, 255, 255);
}

p {
	box-sizing: border-box;
	font-size: 20px;
	max-width: 600px;
	line-height: 25px;
	padding-right: 20px;
}

section {
	box-sizing: border-box;
	min-height: 500px;
	width: 90%;
	margin: 60px auto;
}

button {
	background-color: transparent;
	border: none;
}

#links {
	box-sizing: border-box;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.picbutton {
	position: relative;
	display: block;
	width: 266px;
	height: 266px;
}

.picbutton a {
	position: absolute;
	top: 0;
	left: 0;
	width: 266px;
	height: 266px;
	color: transparent;
	font-weight: 700;
}

.picbutton p {
	text-align: center;
	margin: 0;
	width: 266px;
	line-height: 266px;
	padding: 0;
}

.picbutton a:hover {
	background-color: rgba(0, 0, 0, 0.75);
	color: white;
}

.heading {
	font-size: 40px;
	margin: 30px 0;
	display: block;
	font-weight: 700;
}

.subheading {
	font-size: 35px;
	margin: 30px 0;
	display: block;
}

#about p {
	height: 100px;
}

#Logos p {
	height: 200px;
}

#packaging p {
	height: 200px;
}

#packagingImg {
	margin-bottom: 30px;
}

#logoImgs {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#Logos img {
	width: 340px;
	height: 340px;
	margin: 30px auto;
}

#me {
	float: right;
}

#artwork, #photography {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}

#artSec, #photoSec {
	min-width: 400px;
	max-width: 600px;
	margin: 0 20px;
}

#artThumbs, #photoThumbs {
	display: flex;
	flex-wrap: wrap;
}

#artThumbs img, #photoThumbs img {
	margin: 5px;
}

#packaging img {
	float: right;
}

#splashpage {
	height: 100%;
}
